<div id="about">
    <div class="container">
        <h1><b>Hello there!</b></h1>
        <img
            src="https://www.themoviedb.org/assets/static_cache/e8f014d9088475c0d48f6fde47984570/images/v4/marketing/deadpool.png">
        <hr class="invisible">
        <h2><b>Let's talk about BookThyShow</b></h2>
        <p>BookThyShow is a personal MEAN stack project developed by Labbey Arfath Ahmed, hosted on Heroku. It's a
            blatant clone of the popular ticket booking app - BookMyShow. This project is a result of a
            project-based-learning-spree on MEAN stack. Feel free to fiddle around :)</p>
        <hr class="invisible">
    </div>
</div>
