#about {
    background-image: radial-gradient(at 25% top, rgba(50, 17, 44, 1) 0%, rgba(10, 21, 38, 1) 40%);
    text-align: center;

    color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 15rem;
}

img {
    margin-top: -10%;
}
