@import '../../_variables';

#select-date-time {
    min-height: 800px;

    padding: 30px 0;
    margin: -30px 0;
}

#date-select {
    padding: 10px 0;
    margin: -30px 0 30px 0;

    background-color: white;

    .date.btn:hover, .date.btn.active {
        color: white;
        background-color: $secondary-green;
    }
}

#time-select {
    .list-group-item {
        background-color: transparent;
    }

    .row {
        .col-xs-2 {
            line-height: 34px;
        }
    }

    .time.btn {
        margin: 0 10px;
    }

    .time.btn:hover, .time.btn.active {
        color: white;
        background-color: $secondary-green;
    }
}
