<div id="theatres">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <hr>
                <div class="list-group">
                    <a class="list-group-item"
                       [ngClass]="{'active':selectedMovie?._id === movie._id}"
                       *ngFor="let movie of movies" (click)="this.selectedMovie = movie">
                        {{movie.title}}</a>
                </div>
            </div>

            <div class="col-xs-8">
                <div class="page-header">
                    <h3><b>Cities</b></h3>
                    <small>Manage and add cities</small>
                </div>

                <app-manage-cities [selectedCity]="selectedCity"
                                   (selectCity)="onSelectedCity($event)"></app-manage-cities>

                <div class="page-header">
                    <h3><b>Theatres</b> <i *ngIf="selectedCity">for {{selectedCity.name}}</i></h3>
                    <small>Manage and add theatres</small>
                </div>

                <app-manage-theatres [selectedCity]="selectedCity" [selectedTheatre]="selectedTheatre"
                                     (selectTheatre)="onSelectedTheatre($event)"></app-manage-theatres>

                <div class="page-header">
                    <h3><b>Mappings</b> <i *ngIf="selectedTheatre">available for {{selectedTheatre.name}},
                        {{selectedTheatre.location}}</i></h3>
                    <small>Map movies to theatres</small>
                </div>

                <app-manage-mappings [selectedTheatre]="selectedTheatre"
                                     [selectedMovie]="selectedMovie"></app-manage-mappings>
            </div>
        </div>
    </div>
</div>
