<div id="theatres">
    <div class="container">
        <h3><b>Cities</b>
            <small>Manage and add cities</small>
        </h3>
        <hr>

        <app-manage-cities [selectedCity]="selectedCity" (selectCity)="onSelectedCity($event)"></app-manage-cities>

        <h3><b>Theatres</b> <i *ngIf="selectedCity">for {{selectedCity.name}}</i>
            <small>Manage and add theatres</small>
        </h3>
        <hr>

        <div *ngIf="!selectedCity">Select a city above to view options.</div>

        <app-manage-theatres [selectedCity]="selectedCity"
                             [selectedTheatre]="selectedTheatre"
                             (selectTheatre)="onSelectedTheatre($event)"></app-manage-theatres>

        <h3><b>Movies</b> <i *ngIf="selectedTheatre">available for {{selectedTheatre.name}},
            {{selectedTheatre.location}}</i>
            <small>Map movies to theatres</small>
        </h3>
        <hr>

        <div *ngIf="!selectedTheatre">Select a theatre above to view options.</div>
    </div>
</div>
