<h5><b>SOFA Rs.240</b></h5>
<table class="table">
    <tr *ngFor="let row of grid  | slice:0:2; let r = index">
        <td><b>{{r | numToChar}}</b></td>
        <td *ngFor="let seat of grid[r]; let c = index">
            <div class="seat"
                 [ngClass]="{'selected': seat.status === 'selected'}"
                 (click)="selectSeat.emit(seat)">
                {{c}}
            </div>
        </td>
    </tr>
</table>
<h5><b>GOLD Rs.180</b></h5>
<table class="table">
    <tr *ngFor="let row of grid  | slice:2:6; let r = index">
        <td><b>{{(r + 2) | numToChar}}</b></td>
        <td *ngFor="let seat of grid[(r + 2)]; let c = index">
            <div class="seat"
                 [ngClass]="{'selected': seat.status === 'selected'}"
                 (click)="selectSeat.emit(seat)">
                {{c}}
            </div>
        </td>
    </tr>
</table>
<h5><b>ECONOMY Rs.120</b></h5>
<table class="table">
    <tr *ngFor="let row of grid  | slice:6; let r = index">
        <td><b>{{(r + 6) | numToChar}}</b></td>
        <td *ngFor="let seat of grid[(r + 6)]; let c = index">
            <div class="seat"
                 [ngClass]="{'selected': seat.status === 'selected'}"
                 (click)="selectSeat.emit(seat)">
                {{c}}
            </div>
        </td>
    </tr>
</table>
