/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700');
@import './app/_variables.scss';

body{
	min-height: 100%;
	padding-top: 50px;
}

.brand{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-weight: 700;
	color: white !important;

	span{
		color: $primary-green;
	}
}

.modal{
	display: block;
	background-color: rgba(0,0,0,0.7);

	&.fade{
		visibility: hidden;
	    opacity: 0;
    	transition: opacity .15s linear;
	}

	&.fade.in{
		visibility: visible;
	    opacity: 1;
	}
}

footer{
	padding: 20px 0;

	color: #eee;
	text-align: center;

	font-size: 0.8rem;

	background-color: $bg-dark;
}

.sub-header{
	padding: 20px 0;
}