<div class="modal fade" bsModal #demoModal="bs-modal" tabindex="-1">
    <div class="modal-dialog modal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Hello!</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="demoModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This is a live demo of BookThyShow, MEAN stack app. A personal project built by Arfath Ahmed. Feel free
                to fiddle around; for this demo you've got Admin privileges ;)
            </div>
        </div>
    </div>
</div>

<div id="home-banner">
    <div class="container">
        <h1 style="font-size:5rem;" class="brand">Book<span>Thy</span>Show</h1>
        <h4><b>Select <span class="greened">thy</span> flick, book with a Click.</b></h4>
        <hr class="invisible">
        <form [formGroup]="movieSearchForm">
            <div class="city-pill btn-group">
                <button type="button" class="btn btn-default btn-form-control">
                    <select class="form-control"
                            [formControlName]="'city_id'">
                        <option *ngFor="let city of cities" [value]="city._id">{{city.name}}</option>
                    </select>
                </button>
                <button type="submit" class="btn btn-default  btn-form-control">
                    <input class="form-control" type="text" placeholder="Search movie" style="min-width: 400px"
                           [formControlName]="'query'">
                </button>
            </div>
        </form>
    </div>
</div>

<div id="search-results" *ngIf="searchResults.length">
    <div class="container">
        <div><label>Found <span class="greened">{{(searchResults | uniq:'movie._id').length}}</span> titles</label>
        </div>
        <div class="row">
            <div *ngFor="let mapping of searchResults | uniq:'movie._id'" class="col-xs-3">
                <img [src]="'http://image.tmdb.org/t/p/w185/'+mapping.movie.backdrop_path">
                <h5>{{mapping.movie.title}}</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr class="invisible">
    <div><label>Now Showing</label></div>

    <div class="row masonry">
        <div
            *ngFor="let mapping of mappings | filter:'theatre.city_id':movieSearchForm.value['city_id'] | uniq:'movie._id'"
            class="col-xs-2 item">
            <div class="thumbnail">
                <img [src]="'http://image.tmdb.org/t/p/w185/'+mapping.movie.poster_path" alt="No Poster">

                <div class="caption">
                    <h5><b>{{mapping.movie.title}}</b></h5>
                    <h6><b>{{mapping.movie.release_date | date:'mediumDate'}}</b></h6>
                </div>

                <button class="btn btn-default btn-greened form-control" [routerLink]="['booking']"
                        [queryParams]="{'theatre.city_id': mapping.theatre.city_id, 'movie._id': mapping.movie._id}">
                    <b>Book</b>
                </button>
            </div>
        </div>
    </div>
    <hr class="invisible">
</div>
