@import '../_variables';

.jumbotron {
    margin-top: -20px;

    color: white;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 20%;

    .genre.btn {
        color: white;
        background: none;
    }

    .glyphicon-heart {
        color: $primary-green;
    }
}
